/* Контейнер */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  margin-top:40px;
  justify-content: center; 
}

/* Карточка */
.card {
  background: white;
  border: 1px solid #e3e3e3;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.08);
  transition: 0.25s ease;

  /* Размер карточки на больших экранах (примерно 3–4 в ряд) */
  flex: 1 1 280px;
  max-width: 320px; 
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgb(0 0 0 / 0.15);
}

@media (max-width: 600px) {
  .grid {
    padding: 16px;
    gap: 16px;
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.field {
  color: #444;
  margin-bottom: 6px;
  font-size: 15px;
}

.field span {
  font-weight: 600;
  color: #000;
}

.address {
  margin-top: 14px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.address span {
  font-weight: 600;
}


.loadingWrapper{
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;  
  margin-top: 80px;    
}