.navigation {
  display: flex;
  justify-content: space-between; /* меню слева, корзина справа */
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 
}

.list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.link:hover {
  color: #007bff;
}

.burgerIcon {
  display: none; /* покажем только на мобильных */
  font-size: 1.5rem;
  cursor: pointer;
}

/* Мобильный адаптив */
@media (max-width: 768px) {
  .list {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 10;
    padding: 1rem 0;
  }

  .listActive {
    display: flex;
  }

  .burgerIcon {
    display: block;
  }
}