/* Контейнер всего приложения */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

/* Заголовок */
.app_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Поисковый блок */
.search_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.search_input {
  padding: 10px 14px;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search_container button {
  padding: 10px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.search_container button:hover {
  background-color: #005ec4;
}

/* Карточка погоды */
.weather_card {
  margin-top: 20px;
  padding: 25px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.city_name {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.temperature {
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0;
}

.feels_like {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.weather_icon {
  width: 140px;
  height: 140px;
}

.weather_description {
  font-size: 20px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #444;
}

/* Детали */
.details {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.detail {
  text-align: center;
}

.detail_title {
  font-size: 14px;
  color: #777;
}

.detail_value {
  font-size: 18px;
  font-weight: 600;
}

/* Лоадер */
.loadingWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Ошибка */
.error {
  color: red;
  font-size: 18px;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
    align-items: stretch; /* растягивает элементы по ширине контейнера */
  }

  .app_title {
    font-size: 26px;
  }

  .search_container {
    flex-direction: column;
    gap: 12px;
  }

  .search_input,search_container button  {
    width: 100%;
    box-sizing: border-box; /* учитывает padding при ширине */
  }

  .weather_card {
    padding: 18px;
  }

  .temperature {
    font-size: 40px;
  }

  .details {
    flex-direction: column;
    gap: 15px;
  }

  .weather_icon {
    width: 120px;
    height: 120px;
  }
}
