.mainContainer {
  display: flex;
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 700px;
  border: 1px solid rgb(126, 121, 121);
  border-radius: 10px;
  color: rgb(45, 3, 85);
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(227, 230, 229);
  margin: 50px;
  padding: 25px;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; 
  box-sizing: border-box;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto; 
  border-radius: 10px;
  object-fit: cover; 
}

.btn {
  color: rgb(45, 3, 85);
  border: 1px solid;
  margin: 5px;
  width: 90px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgba(45, 3, 85, 0.1);
}