.imageBlock {
  position: relative;
  width: 100%;
}

.topRow {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  z-index: 10;
}

.category {
  background: #3467ff;
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.deleteBtn {
  background: #ccc9c9;
  border: none;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.deleteBtn:hover {
  background: #e8e8eb;
}

.addBtn {
margin-top:20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  background: #e8e8eb;
}

.card {
  background: #ccc9c9;
  border-radius: 20px;
  padding: 22px;
  width: 300px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  transition: transform 0.25s ease, box-shadow 0.25s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 180px;
  height: 210px;
  object-fit: contain;
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  color: #222;
}

.field {
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
  width: 100%;
}

.field span {
  font-weight: 600;
  color: #111;
}

.field.description {
  max-height: 75px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.rating {
  margin-top: auto;
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;

  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating span {
  font-weight: 600;
}

.rating p {
  margin: 0;
  color: #333;
}

.error {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

.loadingWrapper{
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;   /* высота блока loader */
  margin-top: 80px;    /* сдвигаем вниз на высоту NavBar */
}

@media (max-width: 600px) {
  .topRow {
    top: 6px;
    padding: 0 8px;
  }

  .category {
    padding: 3px 8px;
    font-size: 10px;
    border-radius: 6px;
  }

  .deleteBtn {
    width: 26px;
    height: 26px;
    font-size: 16px;
  }

  .card {
    width: 100%;
    padding: 18px;
  }

  .card img {
    width: 150px;
    height: 180px;
  }
}