.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
}

.main-content {
  flex: 1;
  width: 90%;
  max-width: 1260px;
}

.footerContainer {
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1260px;
  border-radius: 8px;
}
